<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>"<%= quote %>"</h1>
    <p><%= author %> (<%= status %>)</p>
  </body>
</html>
